*.sh
*.venv
*.csv
*.json
final_workflow/data/*
final_workflow/model_output/*
final_workflow/models/*
trial-error/evaluation/local-models/*
trial-error/evaluation/benchmark_output/scenarios/mmlu/data/*
trial-error/evaluation/benchmark_output/runs/latest/*
trial-error/evaluation/benchmark_output/runs/v1/*
trial-error/evaluation/benchmark_output/runs/v2/*
trial-error/evaluation/benchmark_output/runs/v3/*
trial-error/evaluation/benchmark_output/runs/v4/*
trial-error/evaluation/benchmark_output/runs/v5/*
trial-error/evaluation/benchmark_output/runs/v6/*
data/*
*/data/*
